<div id= "messages">

<h1>Conversation with <%=@conversation.recipient(current_user).username%></h1>

<ul> 
    <%if @conversations%>
  <% @conversations.each do |conversation| %>
    <li>
      <%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
      <% if !conversation.unread_message_count(current_user).zero? %>
        (<%= conversation.unread_message_count(current_user) %>)
      <% end %>
    </li>
  <% end %>
  <%end%>
</ul>



<ul>
  <% @messages.each do |message| %>
    <% if message.body %>
      <li>
      <div class="message">
      <%= image_tag return_avatar(message.user) %>
        <%= message.user.username %> at <%= message.time %> 
        <p><%= message.body %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
    <%= f.submit "Send" %>
  </div>

  
<% end %>

</div>