<%= form_with model: listing, local: true do |form|%>
    <div>
        <%= form.label :artist %>
        <%= form.text_field :artist %>
    </div>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <p>Genre</p>
    <div>
    <%= hidden_field_tag "listing[genres_ids][]", nil%>
    <% @genres.each do |genre|%>
      <%= check_box_tag "listing[genres_ids][]", genre.id,
      @listing.genre_ids.include?(genre.id), id: dom_id(genre)%>
      
      <%= label_tag dom_id(genre), genre.name%><br>
      <% end%>
    </div>

    <div>
        <%= form.label :format_id %>
        <%= form.select(:format_id, @formats.map{|f| [f.name, f.id]}) %>
    </div>

    <div>
        <%= form.label :year %>
        <%= form.text_field :year %>
    </div>

    <div>
        <%= form.label :price %>
        AUD$<%= form.text_field :price %>
    </div>

    <p>Album Condition</p>
    <% @conditions.each do |option| %>
    <div>
        <%= form.radio_button :condition, option %>
        <%= form.label "condition_#{option}".to_sym, option %>
    </div>
     <% end %>

    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>