<%= form_with model: listing, local: true do |form|%>
  


    <p>Genre</p>
    <div>
    <%= hidden_field_tag "listing[genre_id][]", nil%>
    <% @genres.each do |genre|%>
      <%= check_box_tag "listing[genre_id][]", genre.id,
      @listing.genre_ids.include?(genre.id), id: dom_id(genre)%>
      <%= label_tag dom_id(genre), genre.name%><br>
      <% end%>
    </div>
    
    <div>
        <%= form.label :cover %>
        <%= form.file_field :cover, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>


  

   

    <div>
        <%= form.submit %>
    </div>

<% end %>