
<div class="browse_albums">


  <div class="search_albums">
    <%= search_form_for @q do |f| %>
      <p id="label"> <%= f.label :title_cont %></p>
      <p><%= f.search_field :title_cont %></p>
      <p><%= f.submit %></p>
    <% end %>
  </div>

  <div class='search_albums_results'> 
    <% @results.each do |result| %>
      <div class='card'> 
        <%if result.cover.attached?%>
          <%= link_to image_tag(result.cover), listing_path(result.id), class: "album_cover" %>
        <%else%>
          <%= link_to image_tag('coverart'), listing_path(result.id), class: "album_cover" %>
        <%end%>
        <p>Album: <%= result.title%></p>
        <p>Artist: <%= result.artist%></p>
      </div>
    <% end %>
  </div>

</div>