
<button data-stripe="stripePayment"> Buy Album $<%= number_with_precision(@listing.price / 100.0, precision: 2 ) %></button>
<p>Album Cover Img</p>

<%= link_to "edit album ", edit_listing_path(@listing.id) %>

<div>
<%if @listing.cover.attached?%>
<%= image_tag @listing.cover %>
<%else%>
<%= image_tag 'coverart' %>
<%end%>

<p>Album:<%= @listing.title%></p>
<p>Artist:<%= @listing.artist%></p>
<p>Genres:
<% @listing_genres.each do |genre|%>
<ul>
<li><%= genre[:name]%></li>
</ul>
<% end %>
</p>

<p>Owner: <%= @listing.user.username%></p>
<button data-stripe="stripePayment"> Buy Album $<%= number_with_precision(@listing.price / 100.0, precision: 2 ) %></button>
<%# need to make status dynamic %>
<button > Contact <%= @listing.user.username%></button>
<%# need to make status dynamic %>


  <% if @purchase%>
  <p><%= "Status: Sold"%></p>
  <% else %>
  <p><%= "Status: Available"%></p>
  <% end %>


</div>

<div>
<p>Year:<%= @listing.year%></p>
<p>Format:<%= @listing.format.name%></p>
<p>Album Condition: <%= @listing.condition%></p>
<p>Location: <%= @listing.user.location%> </p>
</div>

<div>
<p>Description:<%= @listing.description%></p>
</div>

<div>
<%# need to fix genre dynamic display %>
<%# <p>Genre:<%= @listing.genre_id%>
<p>Album imges</p>
<button data-stripe="stripePayment"> Buy Album $<%= number_with_precision(@listing.price / 100.0, precision: 2 ) %></button>
<button > Contact <%= @listing.user.username%></button>
</div>


<script> //This is the "dirty way" -Garret 2019 


if (typeof elements === "undefined") {
  let elements;
}

elements = document.querySelectorAll("[data-stripe='stripePayment']");

for(let i = 0; i < elements.length; i++) {
  elements[i].addEventListener("click", function() {
  var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @stripe_session_id %>',
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
  });
}

</script>

<%= javascript_include_tag "payment_button"%>
</div>

<%= @page.summary %>