<%= link_to "Home", root_path %>
<p>Album Cover Img</p>

<div>
<p>Album:<%= @listing.title%></p>
<p>Artist:<%= @listing.artist%></p>
<p>Artist:<%= @listing.artist%></p>
<button id="stripePayment"> Buy Album $<%= number_with_precision(@listing.price / 100.0, precision: 2 ) %></button>
<%# need to make status dynamic %>
<p>Status: Available</p> 
</div>

<div>
<p>Year:<%= @listing.year%></p>
<p>Format:<%= @listing.format[:name]%></p>
<p>Album Condition: <%= @listing.condition%></p>
<p>Location: <%= current_user.location%> </p>
</div>

<div>
<p>Description:<%= @listing.description%></p>
</div>

<div>
<%# need to fix genre dynamic display %>
<p>Genre:<%= @listing.genre_id%></p>
<p>Album imges</p>
</div>


<script>
document.getElementById("stripePayment").addEventListener("click", function() {
var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @stripe_session_id %>',
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
});
</script>

<%= javascript_include_tag "payment_button"%>


