<div class="user_page">

    <h1> <%=@user.username%>'s Profile <h1>
    <div class="user_info">
        <div class="user_pic"><%= image_tag return_avatar(@user)%></div>
        <div class="user_details">
            <p>Username: <%=@user.username%> </p>
            <p>Location: <%= @user.location%> </p>
        </div>
    </div>

   
    <h2><%= @user.username %>'s Listings</h2>
    <div class = "user_current_listings">
        <%for listing in @user_listings do %>
            <div class='card'>
                <%= link_to image_tag(return_cover(listing)), listing_path(listing.id), class: "album_cover" %>
                <p> Album: <%= listing.title%> |  Artist: <%= listing.artist%> </p>
            </div>
        <% end %>
    </div>

</div>