<h1> <%=@user.username%> 's Profile <h1>

<%= image_tag return_avatar(@user)%>

<div>

<p>username: <%=@user.username%> </p>
<p>location: <%= @user.location%> </p>
</div>

<div>
<%=@user.username%>'s Listings
<%# need to verify when new form listing is working! %>
</div>

<%for listing in @user_listings do %>
    <% if listing.cover.attached?%>
    <%= image_tag listing.cover %>
    <%else%>
    <%= image_tag 'coverart' %>
    <%end%>
<div> - <%= listing[:title] %> <%= link_to "go to album ", listing_path(listing.id) %> </div>
<% end %>
</div>

<div>
 Sold Listing
<%# Need to hook with purchase %>
</div>