<div id = "user_own_profile_view">

<h1> <%=current_user[:username]%> 's Profile <h1>

<%= image_tag return_avatar(@user)%>



    <div>
        <%= link_to 'Favorites', my_favorites_path %>
    </div>

    <div>
        My Info
        <p>username: <%= current_user[:username] %> </p>
        <p>location: <%= current_user[:location] %> </p>
    </div>


<h2> My Current Listings </h2>
<%# need to verify when new form listing is working! <- I dont know what that means %>
    <div id = "user_current_listings_container">
            <% for listing in @user_listings %>
        <div class = "user_current_listing">
            <% if listing.cover.attached?%>
                <%= image_tag listing.cover %>
            <%else%>
                <%= image_tag 'coverart' %>
            <%end%>
            
              <p>  <%= listing[:title] %> <%= link_to "go to album ", listing_path(listing.id) %> </p>
            
        </div>
        <% end %>
    </div>

<h2> My Current Listings </h2>




</div>