<h1> <%=current_user[:username]%> 's Profile <h1>
<%if @user.avatar.attached?%>
<%= image_tag @user.avatar%>
<%else%>
<%=image_tag "blank"%>
<%end%>
<div>
My Info
<p>username: <%= current_user[:username] %> </p>
<p>location: <%= current_user[:location] %> </p>
</div>

<h1> My Current Listings </h1>
<%# need to verify when new form listing is working! %>
 <% for listing in @user_listings %>
    <% if listing.cover.attached?%>
    <%= image_tag listing.cover %>
    <%else%>
    <%= image_tag 'coverart' %>
    <%end%>
<div> - <%= listing[:title] %> <%= link_to "go to album ", listing_path(listing.id) %> </div>
<% end %>


<div>
My Sold Listings
<%# Need to hook with purchase %>
</div>