<h1> <%=current_user[:username]%> 's Profile <h1>

<%= image_tag return_avatar(@user)%>



<div>
<%= link_to 'Favorites', my_favorites_path %>
</div>

<div>
My Info
<p>username: <%= current_user[:username] %> </p>
<p>location: <%= current_user[:location] %> </p>
</div>


<h1> My Current Listings </h1>
<%# need to verify when new form listing is working! %>
 <%@user_listings.each do |listing| %>
    <div class='card'>
    <%=image_tag return_cover(listing)%>
    
 - <%= listing.title %> <%= link_to "go to album ", listing_path(listing.id) %> </div>
<% end %>


<div>
My Sold Listings
<%# Need to hook with purchase %>
</div>