<div class="home">

    <div class="home_banner">
    <p>“Vinyl is the real deal. I’ve always felt like, until you buy the vinyl record, you don’t really own the album. And it’s not just me or a little pet thing or some kind of retro romantic thing from the past. It is still alive.” </p>
    <p>Jack White</p>
    <%# <%= image_tag("home_banner.jpg", id: "home_banner", :alt => "website banner") %> 
    </div>

    <h2> most recent records </h2>
    <div class='card'>
    <% @home_listings.each do |listing| %>
    <ul>
        <li>
            <ul>
            <%if listing.cover.attached?%>
            <li class="album_cover"><%= link_to image_tag(listing.cover), listing_path(listing.id) %></li>
            <%else%>
            <li class="album_cover"><%= link_to image_tag('coverart'), listing_path(listing.id) %></li>
            <%end%>
            <li><p> Album: <%= listing.title%> |  Artist: <%= listing.artist%>  </p></li>
            </ul>
        </li>
    </ul>
    <%end%>
    </div>

    <h2> most popular records  </h2>
    <div class='card'>
    <%@most_liked_listings.each do |listing| %>
    <ul>
        <li>
            <ul>
            <%if listing.cover.attached?%>
            <li class="album_cover"><%= link_to image_tag(listing.cover), listing_path(listing.id) %></li>
            <%else%>
            <li class="album_cover"><%= link_to image_tag('coverart'), listing_path(listing.id) %></li>
            <%end%>
            <li><p> Album: <%= listing.title%> |  Artist: <%= listing.artist%> </p></li>
            </ul>
        </li>
    </ul>
    <%end%>
    </div>

    <h2> Featured Artist  </h2>

    <div id = "wikipedia_content">
        <% if @artist_image_url == nil %>  <%# ALL good => Use main image %>
        <% else %>
            <img src=<%= @artist_image_url%> alt="An image of the band sourced from wikipedia" id = "wikipedia_image">
        <% end%>
        <div id = "wikipedia_text">
        <%= @page.summary %>
        </div>
    </div>

    <div class= 'recent'>
    <% @home_listings.each do |listing| %>
    <div class='card'>
            <%if listing.cover.attached?%>
            <%= link_to image_tag(listing.cover), listing_path(listing.id), class: "album_cover" %>
            <%else%>
            <%= link_to image_tag('coverart'), listing_path(listing.id), class: "album_cover" %>
            <%end%>
            <p> Album: <%= listing.title%> |  Artist: <%= listing.artist%> | <%= link_to "go to album ", listing_path(listing.id)%> </p>
           </div>
    <%end%>
    </div>
    

    <h2> most popular records  </h2>
   <div class= 'popular'>
    <%@most_liked_listings.each do |listing| %>
             <div class='card'> 
            <%if listing.cover.attached?%>
            <%= link_to image_tag(listing.cover), listing_path(listing.id), class: "album_cover" %>
            <%else%>
            <%= link_to image_tag('coverart'), listing_path(listing.id), class: "album_cover" %>
            <%end%>
            <p> Album: <%= listing.title%> |  Artist: <%= listing.artist%> | <%= link_to "go to album ", listing_path(listing.id)%> </p>
           </div>
    <%end%>
    </div>
</div>

